.delete-zone {
  .ui.segment {
    border: none;
    background: #f3f5f7;
    padding: 3em 1em;
    box-shadow: none;
    .ui.button {
      background: #38b557;
      width: 20%;
      color: #fff;
      font-weight: 400;
      border-radius: 0.4rem;
      margin-top: 1rem;
      margin-right: -0.1rem;
      margin-left: 10rem;
    }
  }
  .user-table {
    margin-top: 4rem;
  }
}
