.device-container {
  padding: 6rem 5rem;
  width: 90%;
  @media (max-width: 1680px) {
    width: 90%;
  }
  @media (max-width: 1280px) {
    width: 90%;
  }
  @media (max-width: 960px) {
    width: 90%;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    .dropdwn-nav {
      display: flex;
      flex-direction: row;
      .ui.selection.dropdown {
        margin-right: 3rem;
        border-radius: 8px;
      }
      .ui.fluid.dropdown {
        width: 11rem;
      }
      .ui.loading.dropdown > i.icon:after {
        border-color: #009688 transparent transparent;
      }
    }
    .call-btn {
      margin-left: auto;
      .ui.button {
        width: 5.5rem;
        margin-right: 1rem;
        background: #49cc90;
        color: #fff;
        font-weight: 400;
        border-radius: 1.5rem;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .btn-bottom {
    .ui.button {
      background: #38b557;
      color: #fff;
      font-weight: 400;
      border-radius: 0.9rem;
      margin-top: 1rem;
      margin-right: -0.1rem;
      float: right;
    }
  }
}
