.device-container {
  padding: 10rem 5rem;
  width: 100%;
    .header-nav {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    .dropdwn-nav {
      display: flex;
      flex-direction: row;
      .ui.selection.dropdown {
        margin-right: 3rem;
        border-radius: 8px;
      }
      .ui.fluid.dropdown {
        width: 13rem;
      }
    }
    .call-btn {
      margin-left: auto;
      .ui.button {
        width: 5.5rem;
        margin-right: 1rem;
        background: #49cc90;
        color: #fff;
        font-weight: 400;
        border-radius: 1.5rem;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
