@import "../../common/theme.css";

.user-container {
  padding: 9rem 5rem;
  width: 54vw;

  .header-nav {
    display: flex;
    flex-direction: row;
    padding-top: 35px;

    .dropdwn-nav {
      display: flex;
      flex-direction: row;

      .ui.selection.dropdown {
        margin-right: 3rem;
          border-radius: 8px;
      }

      .ui.fluid.dropdown {
        width: 83%;
      }
    }
    .call-btn {
      margin-left: auto;

      .ui.button {
        margin-right: 1rem;
        background: #38b557;
        color: #fff;
        font-weight: 400;
        border-radius: 1.5rem;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
