.user {
.ui.segment {
  border: none;
  background: #f3f5f7;
  padding: 3em 1em;
  box-shadow: none;
  // width: 55vw;
  // @media (max-width: 1680px) {
  //   width:60vw;
  // }
  // @media (max-width: 1280px) {
  //   width: 70vw;
  // }
  // @media (max-width: 960px) {
  //   width: 79vw;
  // }
  .ui.button {
    background:#38b557;
    color: #fff;
    width: 20%;
    font-weight: 400;
    border-radius: 0.4rem;
    margin-top: 1rem;
    margin-right: -0.1rem;
    margin-left: 4em;
  }
}

}

