.actions-container {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  margin-left: 5rem;
  .dropdwn-nav {
    display: flex;
    flex-direction: row;
    .ui.selection.dropdown {
      border-radius: 8px;
      width: 11rem;
    }
    .ui.search.dropdown {
      min-width: 2rem !important ;
    }
    .ui.loading.dropdown > i.icon:after {
      border-color: #009688 transparent transparent;
    }
  }
  .admin-btn {
    display: flex;
    flex-direction: row;
    .ui.button {
      margin-top: 0 !important;
      margin-left: 3rem;
    }
  }
}
