.company-container {
  display: flex;
  flex-direction: column;
  .btns {
    display: flex;
    flex-direction: column;
    .btns-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.5rem;
      div {
        margin-right: 3rem;
      }
      .ui.input {
        width: 18rem;
        margin-top: 0.5rem;
      }
    }
  }
}
