.ui.breadcrumb {
    .section {
        font-size: 17px;
        color: #444444;
        font-weight: 600;
        margin-right: 0.5rem;
    }
    .active.section {
        font-weight: 500 !important;
        color: #aaabac !important;
        font-size: 17px !important;
        margin-left: 0.5rem;
    }
}

.ui.breadcrumb .icon.divider {
    font-size: 1.3rem;
}