.sidebar-container {
  background: #f8f8f9;
  // position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 220px;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  padding: 100px 18px 0px 13px;
  height: 100%;
  // overflow-y: scroll;
  //   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  .ui.menu {
    font-size: 1rem;
  }
  .ui.vertical.tabular.menu {
    border-right: 0;
    .active.item {
      border: 1px solid transparent;
      border-radius: 9px !important;
      margin-top: 0.8rem;
      color: #38b557;
    }
  }
  .ui.tabular.menu .item {
    padding: 1.3rem 0rem 1.3rem 2.8rem;
    color: #707070;
    margin-top: 0.8rem;
  }
  span {
    padding: 1.3rem 0rem 0.5rem 2.8rem;
    cursor: pointer;
    &:first-child {
      font-size: 15px;
      color: #444444;
    }
  }
}
