.zone-container {
  padding: 6rem 2rem;
  min-width: 550px;
  max-width: 1150px;
  .header-nav {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    .dropdwn-nav {
      display: flex;
      flex-direction: row;
      .ui.selection.dropdown {
        margin-right: 3rem;
        border-radius: 8px;
      }
      .ui.fluid.dropdown {
        width: 13rem;
      }
      .ui.loading.dropdown > i.icon:after {
        border-color: #009688 transparent transparent;
      }
    }
    .call-btn {
      margin-left: auto;
      .ui.button {
        width: 5.5rem;
        margin-right: 1rem;
        background: #49cc90;
        color: #fff;
        font-weight: 400;
        border-radius: 1.5rem;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .btn-bottom {
    .ui.button {
      background: #38b557;
      color: #fff;
      font-weight: 400;
      border-radius: 5px;
      width: 200px;
      margin-top: 2rem;
      margin-right: -0.1rem;
      float: left;
    }
  }
}
